
//Import other sass files which may or may not be processed. SASS files that shouldn't be processed will need to start with underscore '_',
// like example here: _config.scss. However, when importing, we omit the underscore that are supposed to be there
@import 'config';
@import 'util';
@import 'mobile';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: $font-stack;
}

// SASS allows for complex nesting, which simplifies code for a little and removes the need for writing lengthy selectors. For example,
// .container is nested in .showcase. When processed, the CSS equivalent is '.showcase .container'
.showcase {

    //Use @include keyword to include the mixins defined. You can pass in arguments to be used in the mixin
    @include set-bg-color($background-color);

    .container {
        max-width: 950px;
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // padding: 20px; Replaced by .p-1 class
    
        .logo {
            font-size: 1.8rem;
        }
        .navmenu {
            list-style-type: none;
            display: flex;
            flex-direction: row;
    
            a {
                text-decoration: none;
                color: set-text-color($background-color);
                font-size: 1.2rem;
                padding: 0px 10px;
            }
            a:hover {
                color: $secondary-color;
            }
        }
    }

    // When using the ampersand & sign, it will take the parent's selector and just paste it here. THerefore in this case
    // it is equivalent to .showcase-content
    &-content {
        // padding: 30px; Replaced by .p-2
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        align-items: center;

        &-intro {
            h2 {
                font-size: 2.5rem;
                margin: 10px 0px;
            }
            p {
                margin: 20px 0px;
            }
        }

        img {
            width: 50%;
            height: auto;
        }
    }

}

