$theme-green: rgb(15, 233, 15);
$theme-green2: rgb(0, 150, 0);
$theme-font: rgb(114, 231, 114);
$editor-bg: #2c3e50;



//===========================MIXINS======================================//

// Styling for the windows, which is Editor and Viewer
@mixin style-win {
    width: unquote('clamp(100px, 100%, 700px)');
    height: 100%;
    margin: 20px auto;
}

// Font setting for coding style
@mixin code-font($size, $color, $bold) {
    font-family: 'Source Code Pro', monospace;
    font-size: $size;
    color: $color;
    @if ($bold == 'bold'){
        font-weight: 700;
    }
}

// Hackerish styled scrollbar
@mixin style-scrollbar {
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $theme-green2;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: darken($theme-green2, 10%);
    }
}

//  Styling for the window header (Editor and Viewer)
@mixin style-winheader {
    .win-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        align-items: center;
        
        border: solid 3px $theme-green;
        border-radius: 10px 10px 0px 0px;
        @include code-font(2.2rem, $theme-font, 'bold');

        .editor-close-btn, .viewer-close-btn, .editor-maxmin-btn, .viewer-maxmin-btn {
            cursor: pointer;

            &:hover, &:focus {
                color: white;
            }
        }
    }
}

@mixin allTransition {
    transition: transform .5s ease, width .5s ease, height .5s ease;
}


@mixin scale0 {

    .closeOpenTrans {
        transition: transform .5s ease;
        transition-delay: .5s;
        transform-origin: top;
    }

    &.scale0 {
        transition-delay: .5s;
        transform: scaleX(0);

        & .closeOpenTrans {
            transform: scaleY(0);
            transition-delay: 0s;
        }
    }
}

@mixin closed {
    &.closed {
        position: absolute;
        visibility: hidden;
    }
}
//  TO DO IMPLEMENT MAXIMIZING
@mixin maxClass {
    position: relative;

    &.maxClass {
        width: 100%;
        height: 100%;
    }
}

//===========================MIXINS======================================//




//============================ANIMATIONS===============================//
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(720deg);
    }
}

@keyframes blink {
    0% {
        transform: scaleY(1);
    } 50% {
        transform: scaleY(.2);
    } 100% {
        transform: scaleY(1);
    }
}

//====================================ANIMATIONS============================//