@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("https://i.pinimg.com/originals/ce/7a/1a/ce7a1a5a6639b3430774c83c5910e537.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(1050px, 80%);
  height: 100vh;
  padding: 20px 0px;
  margin: auto;
}

.toolbar {
  width: clamp(150px, 80%, 300px);
  margin: 0px auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-self: flex-end;
  border: solid 5px #0fe90f;
  border-radius: 30px;
}

.toolbar .icon {
  margin: 0px 15px;
  color: #0fe90f;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.toolbar .fa-pen:hover, .toolbar .fa-pen:focus {
  -webkit-animation: spin 1s ease 1;
          animation: spin 1s ease 1;
  color: white;
}

.toolbar .fa-eye:hover, .toolbar .fa-eye:focus {
  -webkit-animation: blink .5s ease 2;
          animation: blink .5s ease 2;
  color: white;
}

.editor {
  width: clamp(100px, 100%, 700px);
  height: 100%;
  margin: 20px auto;
  -webkit-transition: width .5s ease, height .5s ease, -webkit-transform .5s ease;
  transition: width .5s ease, height .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, width .5s ease, height .5s ease;
  transition: transform .5s ease, width .5s ease, height .5s ease, -webkit-transform .5s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editor .win-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px #0fe90f;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.2rem;
  color: #72e772;
  font-weight: 700;
}

.editor .win-header .editor-close-btn, .editor .win-header .viewer-close-btn, .editor .win-header .editor-maxmin-btn, .editor .win-header .viewer-maxmin-btn {
  cursor: pointer;
}

.editor .win-header .editor-close-btn:hover, .editor .win-header .editor-close-btn:focus, .editor .win-header .viewer-close-btn:hover, .editor .win-header .viewer-close-btn:focus, .editor .win-header .editor-maxmin-btn:hover, .editor .win-header .editor-maxmin-btn:focus, .editor .win-header .viewer-maxmin-btn:hover, .editor .win-header .viewer-maxmin-btn:focus {
  color: white;
}

.editor .closeOpenTrans {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.editor.scale0 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.editor.scale0 .closeOpenTrans {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.editor.closed {
  position: absolute;
  visibility: hidden;
}

.editor.maxClass {
  width: 100%;
  height: 100%;
}

.editor .editor-maxmin-btn {
  display: none;
}

.editor .text-area {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  color: #72e772;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #2c3e50;
  overflow-y: scroll;
  resize: none;
  cursor: auto;
  border: 0;
  outline: none;
}

.editor .text-area::-webkit-scrollbar {
  width: 15px;
}

.editor .text-area::-webkit-scrollbar-track {
  background: transparent;
}

.editor .text-area::-webkit-scrollbar-thumb {
  background: #009600;
  border-radius: 10px;
}

.editor .text-area::-webkit-scrollbar-thumb:hover {
  background-color: #006300;
}

.editor .text-area:focus {
  border: 1px #4b6580 solid;
}

.editor-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 2rem;
  background-color: #009600;
  padding: 5px 15px;
}

.editor-toolbar div + div {
  margin-left: 20px;
}

.editor-toolbar abbr {
  text-decoration: none;
  margin-left: 5px;
}

.editor-toolbar i {
  cursor: pointer;
}

.editor-toolbar i:hover, .editor-toolbar i:focus {
  color: #72e772;
}

.viewer {
  width: clamp(100px, 100%, 700px);
  height: 100%;
  margin: 20px auto;
  -webkit-transition: width .5s ease, height .5s ease, -webkit-transform .5s ease;
  transition: width .5s ease, height .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, width .5s ease, height .5s ease;
  transition: transform .5s ease, width .5s ease, height .5s ease, -webkit-transform .5s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.viewer .win-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px #0fe90f;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.2rem;
  color: #72e772;
  font-weight: 700;
}

.viewer .win-header .editor-close-btn, .viewer .win-header .viewer-close-btn, .viewer .win-header .editor-maxmin-btn, .viewer .win-header .viewer-maxmin-btn {
  cursor: pointer;
}

.viewer .win-header .editor-close-btn:hover, .viewer .win-header .editor-close-btn:focus, .viewer .win-header .viewer-close-btn:hover, .viewer .win-header .viewer-close-btn:focus, .viewer .win-header .editor-maxmin-btn:hover, .viewer .win-header .editor-maxmin-btn:focus, .viewer .win-header .viewer-maxmin-btn:hover, .viewer .win-header .viewer-maxmin-btn:focus {
  color: white;
}

.viewer .closeOpenTrans {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.viewer.scale0 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.viewer.scale0 .closeOpenTrans {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.viewer.closed {
  position: absolute;
  visibility: hidden;
}

.viewer.maxClass {
  width: 100%;
  height: 100%;
}

.viewer .viewer-maxmin-btn {
  display: none;
}

.viewer .view-div {
  font-size: 1.7rem;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color: #333;
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
  color: #72e772;
}

.viewer .view-div::-webkit-scrollbar {
  width: 15px;
}

.viewer .view-div::-webkit-scrollbar-track {
  background: transparent;
}

.viewer .view-div::-webkit-scrollbar-thumb {
  background: #009600;
  border-radius: 10px;
}

.viewer .view-div::-webkit-scrollbar-thumb:hover {
  background-color: #006300;
}

.view-div code, .view-div pre {
  overflow-x: scroll;
  background-color: black;
  color: white;
}

.view-div code::-webkit-scrollbar, .view-div pre::-webkit-scrollbar {
  width: 15px;
}

.view-div code::-webkit-scrollbar-track, .view-div pre::-webkit-scrollbar-track {
  background: transparent;
}

.view-div code::-webkit-scrollbar-thumb, .view-div pre::-webkit-scrollbar-thumb {
  background: #009600;
  border-radius: 10px;
}

.view-div code::-webkit-scrollbar-thumb:hover, .view-div pre::-webkit-scrollbar-thumb:hover {
  background-color: #006300;
}

.view-div a {
  color: #009600;
}

.view-div blockquote {
  border-left: solid 2px white;
  border-radius: 2px;
  padding-left: 3rem;
}

.view-div table {
  border-collapse: collapse;
}

.view-div table, .view-div table th, .view-div table td {
  border: solid 1px #72e772;
}

.view-div ul, .view-div ol {
  list-style-position: inside;
}

.view-div ul li, .view-div ol li {
  margin-left: 15px;
}

.view-div p img {
  width: 50%;
  height: auto;
}

@media screen and (min-width: 800px) {
  .container {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toolbar {
    display: none;
  }
  .editor {
    width: 45%;
    height: 70%;
  }
  .editor .editor-maxmin-btn {
    display: inline-block;
  }
  .editor .editor-btn {
    display: none;
  }
  .viewer {
    width: 45%;
    height: 90%;
  }
  .viewer .viewer-maxmin-btn {
    display: inline-block;
  }
  .viewer .viewer-btn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */