$background: url('https://raw.githubusercontent.com/AdmiJW/Items/master/Misc/table.jpg');

$config-color: #2ecc71;
$config-legend: #77ffb0;
$config-bg: #2c3e50;
$config-highlight: #e74c3c;

$quote-border: #c0392b;
$quote-bg: #34495e;

$note-bg: #ffeaa7;
$note-shadow: #a39562;

$timer-border: black;
$timer-bg: #34495e;
$timer-color: #2ecc71;



@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin font($family, $size, $color) {
    @if ($family == 'digital') {
        font-family: 'Orbitron', sans-serif;
    }
    @else if ($family == 'handwriting') {
        font-family: 'Courgette', cursive;
    }
    @else if ($family == 'text') {
        font-family: 'Alata', sans-serif;
    }

    font-size: $size;
    color: $color;
}

//  Removes the default appearance of button HTML element
@mixin no-default-btn () {
    appearance: none;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

//  Applies some style to a button, with some transition of zooming in
@mixin btn-transition ($scale) {
    transition: transform .5s ease;

    &:hover, &:focus {
        transform: scale($scale);
    }
}


//  Keyframe applied to spinner
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}