@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #34495e;
  background-image: url("https://raw.githubusercontent.com/AdmiJW/Items/master/Misc/table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.timer-and-note {
  width:  min(800px, 80%) ;
  height:  clamp(100px, 50vh,500px) ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 90vw;
  height: 90vh;
  z-index: 999;
  position: fixed;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
}

.config-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  color: #2ecc71;
  border-radius: 10px 10px 0px 0px;
  min-height: 30px;
  padding: 5px 15px;
  background-color: #2c3e50;
}

.config-head #close-config-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  font-family: 'Alata', sans-serif;
  font-size: 2.5rem;
  color: #2ecc71;
}

.config-head #close-config-btn:hover, .config-head #close-config-btn:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.config-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #354b60;
  overflow-y: auto;
  padding: 20px;
}

.config-body .config-set {
  border: solid 2px #2ecc71;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.config-body .config-set legend {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  color: #77ffb0;
}

.config-body .config-set .config-wrapper {
  display: -ms-grid;
  display: grid;
  height: 90%;
  padding: 20px;
  gap: 15px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Alata', sans-serif;
  font-size: 2rem;
  color: #2ecc71;
}

.config-body .config-set .config-wrapper input, .config-body .config-set .config-wrapper select {
  width: 90%;
}

.config-body .config-set .config-wrapper input[type='file'] {
  display: none;
}

.config-body .config-set .config-wrapper .config-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  font-family: 'Alata', sans-serif;
  font-size: 2rem;
  color: #2ecc71;
  border: solid 2px #2ecc71;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 10px;
}

.config-body .config-set .config-wrapper .config-btn:hover, .config-body .config-set .config-wrapper .config-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.config-body .config-set .config-wrapper #config-delete-alarm {
  color: red;
  border-color: red;
}

.config-body .config-set .config-val {
  color: #e74c3c;
}

.config.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.motiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width:  min(500px, 80%) ;
  height:  clamp(100px, 30vh,300px) ;
  padding: 10px 0px;
  overflow: auto;
  border: solid 8px #c0392b;
  border-radius: 10px;
  background-color: #34495e;
}

.motiv #spinner {
  position: absolute;
  color: white;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.motiv #motiv-quote {
  max-width: 80%;
  font-family: 'Courgette', cursive;
  font-size: min(4vh, 4vw, 2.5rem);
  color: white;
  text-align: left;
  padding-left: 20px;
  border-left: 3px solid white;
  border-radius: 2px;
}

.motiv #motiv-quote.lg-quote {
  font-size: min(3vh, 3vw, 2rem);
}

.motiv #motiv-cite {
  width: 80%;
  font-family: 'Courgette', cursive;
  font-size: min(3vh, 3vw, 2rem);
  color: #dddddd;
  text-align: right;
}

.motiv #motiv-cite::before {
  content: '-';
}

.motiv.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.motiv.loading #spinner {
  opacity: 1;
  -webkit-animation: spinning 2s linear 0s infinite normal;
          animation: spinning 2s linear 0s infinite normal;
}

.note-div {
  display: none;
}

.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  overflow: auto;
  z-index: 2;
  background-color: #ffeaa7;
  -webkit-transform: skewX(5deg);
          transform: skewX(5deg);
}

.note-label {
  font-family: 'Courgette', cursive;
  font-size: 2.7rem;
  color: black;
  text-align: center;
}

.note p {
  font-family: 'Courgette', cursive;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.note-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -3.8vw;
  background-color: #a39562;
  z-index: 1;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
}

.timer {
  width:  min(500px, 80%) ;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 10px black;
  background-color: #34495e;
}

.timer-time {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer-time .timer-label {
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  color: #2ecc71;
}

.timer-time .time-left {
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
  color: #2ecc71;
}

.timer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width:  min(300px, 100%) ;
  padding: 10px 0px;
}

.timer-options button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  font-size: 2rem;
  color: #2ecc71;
}

.timer-options button:hover, .timer-options button:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (min-width: 700px) {
  .timer-and-note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .note-div {
    display: block;
    position: relative;
    height: 100%;
    margin: 0px 30px;
    min-width: 200px;
  }
  .config-body .config-set .config-wrapper {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    padding: 0px 20px 30px 20px;
    gap: 5px;
    justify-items: start;
  }
  .config-body .config-set .config-wrapper .btn-control {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 400px) {
  .timer {
    width: 100%;
  }
}
/*# sourceMappingURL=Style.css.map */