@import 'general';

$font-color: white;

$delete-bg: rgb(255, 37, 37);

.toDo {
    @include big-screen-limit;

    h2 {
        margin: 20px 0px;

        text-align: center;
        font-size: unquote('min(50px, 7vw)');
    }

    &-ul {
        list-style-type: none;
    }

    &-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin: 10px 0px;
        border-radius: 30px;

        &-checkbox {
            transform: scale(1.5);
            transform-origin: center;
        }

        &-task {
            flex: 7;
            font-size: 15px;
            color: $font-color;
            margin: 0px 10px;
        }

        &-expire {
            flex: 1;
            font-size: 15px;
            color: white;
            font-weight: bolder;
            margin: 0px 10px;
        }

        &-delete {
            padding: .75em 1em;
            border: solid 4px rgb(255, 255, 255);
            border-radius: 50%;
            
            color: white;
            background-color: $delete-bg;
            font-weight: bold;

            cursor: pointer;

            transition: background-color 0.5s ease;
        }

        &-delete:hover, &-delete:focus {
            background-color: darken(red, 15%);
        }
    }

}

@media screen and (max-width: 300px) {
    .toDo-li {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        * {
            margin: 5px 0px;
        }
    }

}