
body {
    background-color: #2c3e50;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 65px;
    font-weight: bolder;
}
.img {
    display: block;
    margin: auto;
}
.topic {
    text-align: center;
    margin: 30px 0px;
    color: rgb(255, 144, 103);
}
hr {
    background-color:rgba(255, 96, 96, 0.452);
    padding: 3px 0px;
    border-radius: 20px;
    margin: 20px 10px;
}
.exp {
    background-color: rgb(231, 231, 231);
    padding: 10px;
}
code {
    background-color:rgb(61, 61, 61);
    color: white;
    padding: 0px 10px;
}
.codeblock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.codeblock-left, .codeblock-right {
    flex-basis: 50%;
    padding: 10px;
}
.container {
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.spec-list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.spec-list li * {
    flex-basis: 50%;
}



.style-list {
    border-radius: 10px;
    background: linear-gradient(to left,violet, indigo, blue, green, yellow, orange, red);
    color: white;
    text-align: center;
    margin: 10px 0px;
}




#parent {
    background-color: #3498db;
    height: 100%;
    padding: 5%;
}
#prev-sibling {
    background-color: #2ecc71;
    padding: 10px;
}
#target {
    background-color: #d35400;
    padding: 10px;
}
#target span {
    background-color: #f1c40f;
    margin: 5px;
}
#next-sibling {
    background-color: #9b59b6;
    padding: 10px;
}


#divF-1 {
    padding: 40px;
    background-color: #2ecc71;
}
#divF-2 {
    padding: 20px;
    background-color: #c9cc2e;
}